body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    /* background-color:#3f425a; */
    background-color:#00ABB3;
    /* background-color:#00ABB3; */
}    

.portfolio-nav,a{
    display:flex;
    list-style-type:none;
    padding:15px;
    justify-content:space-between;
    color:#3C4048;
    font-weight:750;
    text-decoration:none;
}

a:hover{
    color:black;
}

.portfolio-dashboard{
    
}

.portfolio-img{
    margin-left:60%;
    margin-top:-35%;
    z-index:1;
    position:relative;
    border-radius:30%;
    height:460px;
    width:500px;
    /* border:1px solid;
    border-radius:50%;
    width:300px; */
    padding:2px;
}

.tushar-img{
    margin-left:-300px;
    margin-top:-300px;
    border:1px solid;
    border-radius:50%;
    z-index:2;
    position:absolute;
}

.portfolio-intro{
    width:600px;
    color:black;
    font-weight:500;
    margin-left:100px;
    padding:10px;
}

.portfolio-intro-btn{
    display:flex;
}

.portfolio-stats{
    border:1px solid;
    border-radius:20px;
    text-align:center;
    justify-content:space-between;
    padding:8px;
    display:flex;
    width:550px;
    font-weight:600;
}

.portfolio-stats-hr{
    border-left:2px solid black;
    height:110px;
}

.portfolio-skill-main{
    margin-left:7%;
    margin-top:7%;
}

.portfolio-skill-section{
    display:flex;
    margin-left:3%;
}

.portfolio-skill{
    display:flex;
    flex-direction:column;
    font-weight:800;
}

.portfolio-skill-img{
    width:100px;
    /* border:0.5px solid;
    border-radius:50%; */
    margin-bottom:15px;
    margin-top:15px;
}

.portfolio-projects{
    width:1000px;
    height:500px;
    /* background-color:pink; */
    margin-left:5%;
    margin-top:10%;
}

.portfolio-project-section{
    display:flex;
    /* background-color:#7659e5; */
    background-color:#AA8B56;
    border:1px solid;
    border-radius:20px;
    padding:20px;
    width:1100px;
    margin:30px 0;
    /* background-color:#3C4048; */
}

.portfolio-project-details{
    color:#ffff;
    width:650px;
}

.portfolio-project-image{
    margin-left:60px;
    width:200px;
}

.portfolio-contactus-main{
    display:flex;
    width:80%;
    margin-left:5%;
    margin-top:75%;
}

.portfolio-contactus-info{
    /* background-color:yellow; */
    padding:10px;
}


.portfolio-contactus-form{
    background-color:white;
    margin-left:15%;
    margin-top:0%;
    padding:10px;
    border:1px solid;
    width:500px;
    height:410px;
    border-radius:25px;
}

.portfolio-contactus-input{
    width:450px;
    padding:5px;
    border:0.5px solid;
}

.contact-label{
    font-weight:600;
    margin:10px;
}

.contactform-btn{
    width:300px;
    height:50px;
    margin-left:80px;
}

.portfolio-social-icons-main{
    display:flex;
}

.portfolio-social-icons{
    
}